<div class="text-center">
    <div class="col"><h2 class="text-center titles">FACUNDO ROCHA - 4B</h2></div>
<br><br>
  <div class="contenedor">
    <img src="../../../assets/facu.jpg">

  <div class="row align-items-end">
      <h5 class="text">
      Mi nombre es Facundo Rocha, tengo 30 años y soy oriundo de Sarandí. Soy un estudiante de la tecnicatura en programación en la Universidad
      Tecnológica Nacional. Mis otras pasiones son la música y el ajedrez. Ah... y tengo un perro lobo.
      <br><br>El juego propio lo llamé 'El caza-Aliens'. Consta de ir seleccionando de un tablero distintas posiciones donde te pueden tocar Aliens que favorezcan, que te dañen o que te maten.
      </h5>
  </div>
  <button class="miBtn2" (click)="goToHome()">Volver</button>
</div>






</div>
