<div class="text-center">
    <div class="col"><h2 class="text-center titles">FACUNDO ROCHA - 4B</h2></div>
<br><br>
  <div class="contenedor">
    <img src="../../../assets/facu.jpg">

  <div class="row align-items-end">
      <h4 class="text">
      Mi nombre es Facundo Rocha, tengo 30 años y soy oriundo de Sarandí. Soy un estudiante de la tecnicatura en programación en la Universidad
      Tecnológica Nacional. Mis otras pasiones son la música y el ajedrez. Ah... y tengo un perro lobo.
      <br><br>
      <h3>El juego propio es una recreación de los viejos juegos de batallas Pokemon. Consta de seleccionar a uno de los 3 Pokemones iniciales, mediante una api, y enfrentarte a los pokemones que te toquen.</h3>
      </h4>
  </div>
  <button class="miBtn2" (click)="goToHome()">Volver</button>
</div>


</div>
