
.colorcito{
  background-color: #EECC88;
  height: 100%;
  display: flex;
  justify-content: center;
}
.logo{
height: 100px;
margin-bottom: 5px;
}

.body{

  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 15px;
  text-align: center;
}
