<form>
<br><br>
  <h3></h3>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
<br>
  <button type="submit" class="miBtn2">Loguearse</button>
  <br><br>
  <button  class="miBtn2" (click)="goToHome()">Volver</button>
</form>
