<div class="container">
  <div class="row align-items-start">
    <div class="col"><h3 class="titles">FACUNDO ROCHA - 4B</h3></div>
  </div>
  <div class="row align-items-center">
    <div class="col 2"><img class="image" src="../../../assets/facu.jpg"></div>

  </div>
  <div class="row align-items-end">
    <div class="col 3"> <h5 class="text">Mi nombre es Facundo Rocha, tengo 30 años y soy oriundo de Sarandí. Soy un estudiante de la tecnicatura en programación en la Universidad
      Tecnológica Nacional. Mis otras pasiones son la música y el ajedrez. Ah... y tengo un perro lobo.
    </h5></div>

  </div>
  <div class="row align-items-end">
    <div class="col 4"> <button class="miBtn2" (click)="goToHome()">Volver</button></div>

</div>



