

<br>
<h2 style="left: 20px;">FACUNDO ROCHA - 4B</h2>
<br>
<div id="container">

  <img id="image" src="../../../assets/facu.jpg" width="300" height="400">






  <h5 id="text">Mi nombre es Facundo Rocha, tengo 30 años y soy oriundo de Sarandí. Soy un estudiante de la tecnicatura en programación en la Universidad
    Tecnológica Nacional. Mis otras pasiones son la música y el ajedrez. Ah... y tengo un perro lobo.
  </h5>
</div>
<br>
<button class="miBtn2" (click)="goToHome()">Volver</button>
<br><br>


