<div class="central">
  <div class="body">
  <div *ngIf="this.user$ | async as user; else noLog">


    <br>

    <button type="button" class="miBtn2" (click)="irASalaDeJuegos()">Sala de juegos</button>
    <br><br>
    <button type="button" class="miBtn2" (click)="irAChat()">Sala de Chat</button>
    <br><br>
    <button type="button" class="miBtn2" (click)="irAQuienSoy()">Quien soy?</button>
    <br><br>
    <button type="button" class="miBtn2" (click)="desloguear()">Cerrar sesión</button>
    <br><br>

<div *ngIf="this.chatActivo">
  <app-chat></app-chat>
</div>

  </div>


  <ng-template #noLog>
  <img class="logo" src="../../../assets/login2.png" alt="login">
    <div *ngIf="loguear">
    <app-login (eventoIrARegistro)="irARegistro($event)"></app-login>

    <br><br>



    </div>

    <div *ngIf="registrar">
      <app-registro (eventoIrALogin)="irALogin($event)"></app-registro>


    </div>

  </ng-template>
</div>
</div>
